[flake8]

exclude =
    .git,
    __pycache__,
    .venv,
    docs/source/conf.py,
    old,
    build,
    dist

max-doc-length=127
max-line-length=127
max-complexity = 10
count = True

per-file-ignores =
    .\tests\test_trivial.py: F401